@media screen and (max-width: 1200px) {
    .row {
        width: 100%;
        padding: 0px 30px
    }
}

@media screen and (max-width:1024px) {

    .proces-container,
    .grid-portfolio-container {
        grid-template-columns: 1fr 1fr
    }


}

@media screen and (max-width:768px) {
    .grid-about-container {
        grid-template-columns: 1fr;
        text-align: center
    }

    .grid-about-items img {
        width: 40%;
        margin-bottom: 40px;
    }

    .grid-about-container .btn-full {
        margin-top: 0px;
    }

    .experiance {

        height: auto;
    }

    .grid-experiance-container,
    .grid-contact-container {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width:480px) {
    .grid-about-items img {
        width: 70%;
    }

    .proces-container,
    .grid-portfolio-container {
        grid-template-columns: 1fr
    }
    .grid-testimonial-container{
        grid-template-columns: 1fr;
        text-align: center;
        color: #fff
    }
    html,
body {

    font-size: 8px;

}
    h1 {
  font-size: 531%;

}
    .hero-text-box span {

  font-size: 182%;
  margin-top: -11px;
}

}
